.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.score {
  font-size: 30px;
  font-weight: bold;
}
